* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  padding: 3rem;

}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-container {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 3rem;
}

.logo-container img {
  max-width: 100px;
}

.registration-num h4 span {
  color: red;
}

main {
  border: solid black;
  min-height: auto;
}



.general-info-header-1 {
  background-color: #169c21;
  text-align: center;
  padding: 0.3rem;
  border-bottom: solid black;
}

.general-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.gender-age {
  display: flex;
  gap: 2rem;
}

th {
  border-collapse: collapse;
  background-color: #169c21;
  border-bottom: black;

}

.colmnrow {
  width: 100%;
  border-collapse: collapse;

  border-top: solid black;


}

.lec-row,
.code-row {
  background-color: #169c21;
  width: 100%;

}


.td-1 {
  text-align: justify;
}

.td-totalunit {

  text-align: center;

}

/* start the buttom part*/

.note {
  text-align: justify;
  font-size: small;
  margin-left: 10px;

}

.th11 {
  width: 100%;
  letter-spacing: 12px;
  font-size: medium;
  padding: 10px;
}

.td-2 {
  background-color: white;
  text-align: justify;

}

.TOPHEADER2 {
  border-bottom: black;
  border-collapse: collapse;
  background-color: #169c21;
  text-align: center;
  border-bottom: solid black;


}

.tibolfees {
  justify-content: space-evenly;
  margin-left: 20px;
  width: 600px;
  border-color: rgb(31, 29, 29);
  border-width: 2px;
  border-collapse: collapse;
  border-style: solid;
  align-items: center;
}

/* rules part*/
.rules {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  width: 450px;
  word-spacing: 10px;
  float: right;
  margin-right: 100px;
}

#reciept {
  background-color: rgb(255, 255, 255);
  width: 500px;
  position: absolute;
  float: right;
  right: 50px;
  bottom: -450px;
  margin-right: 50px;
  text-align: justify;
}

#signature {
  position: absolute;
  bottom: -650px;
  right: 300px;
}


/*TUTAlASIMENT tibol PART*/

.total-row {
  background-color: white;
  justify-content: space-evenly;
  margin-left: 20px;
  width: 600px;
  border-color: rgb(31, 29, 29);
  border-width: 2px;
  border-collapse: collapse;
  border-style: solid;
  align-items: center;
}

.fees {
  justify-content: space-evenly;
  margin-left: 20px;
  width: 600px;

  border-width: 2px;
  border-color: black;
  border-collapse: collapse;


  border-collapse: collapse;
  border-style: solid;
  align-items: center;
}

.tth1 {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  word-spacing: 5.4px;
}

/* footer */

.print-date {
  margin-top: 15rem;
  text-align: right;

}

.footer {
  text-align: center;
  border-top: 4px solid black;
  background-color: #169c21;
}